<!DOCTYPE html>
<html>
<head>
  <title>Book Shelf</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="topbar">
    <div class="topbar-left">
        <div class="logo">
            <span class="logo-icon">📚</span>
            <span class="logo-text">Book Shelf</span>
        </div>
    </div>
      
<div class="topbar-nav">
<a href="/">Home</a>
<a href="/add">Add</a>
<div>
    <a href="/?sort=newest">Sort by Newest</a> |
    <a href="/?sort=rating">Sort by Rating</a>
  </div>
</div>
</header>
    <main class="container">