<%- include("partials/header.ejs")  %>
  <h1>Add New Book</h1>

  <form action="/add" method="POST">
    <label>Title:</label>
    <input type="text" name="title" required><br><br>

    <label>Author:</label>
    <input type="text" name="author" required><br><br>

    <label>ISBN:</label>
    <input type="text" name="isbn" required><br><br>

    <label>Rating (1-5):</label>
    <input type="number" name="rating" min="1" max="5"><br><br>

    <label>Review:</label><br>
    <textarea name="review"></textarea><br><br>

    <button type="submit">Add Book</button>
  </form>

  <br>
  
<%- include("partials/footer.ejs")  %>